openapi: 3.0.3
info:
  title: HNG TASK 3
  description: |-
    This is the documentation for HNG task 3

  termsOfService: http://swagger.io/terms/
  contact:
    email: Team email addresses
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.1
servers:
- url: http://localhost:8080/api/v1
tags:
- name: Auth
  description: Everything about authentication

#################
  # Auth API #
#################

paths:
  /auth/register:
    post:
      tags:
        - Auth
      summary: Register as a new user
      description: Register as a new user
      operationId: createUser
      requestBody:
        description: Create a new user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUser'

      responses:
        201:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Registration successful
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Bad request
                  message:
                    type: string
                    example: Unable to register user
        409:
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Duplicate user
                  message:
                    type: string
                    example: User already exist

  /auth/login:
    post:
      tags:
        - Auth
      summary: Login a user
      description: Login with email and password
      operationId: loginUser
      requestBody:
        description: Login a registered user
        required: true
        content:
          schema:
              $ref: '#/components/schemas/LoginUser'
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: success
                    example: true
                  message:
                    type: string
                    example: Login successful
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Bad request
                  message:
                    type: string
                    example: Unable to login
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: false
                  message:
                    type: string
                    example: Internal server error


components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    RegisterUser:
      type: object
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        email:
          type: string
          example: johndoe@gmail.com
        password:
          type: string
          example: 12345678
        
    LoginUser:
      type: object
      properties:
        email:
          type: string
          example: johndoe@gmail.com
        password:
          type: string
          example: 12345678
